<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- Spring MVC Annotation -->
	<context:annotation-config />
	<mvc:annotation-driven />
	<!-- Cấu hình view -->
	<bean id="viewResolver" p:prefix="/WEB-INF/views/" p:suffix=".jsp"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver" />
	<!-- Cấu hình package chứa các controller -->
	<mvc:interceptors>
		<mvc:interceptor>
			
			<mvc:mapping path="/doanhthutheongay.htm"/>
			<mvc:mapping path="/doanhthutheothang.htm"/>
			<mvc:mapping path="/deletencc.htm"/>
			<mvc:mapping path="/ctncc.htm"/>
			<mvc:mapping path="/danhsachnhacungcap.htm"/>
			<mvc:mapping path="/themnhacungcap.htm"/>
			<mvc:mapping path="/deletedotgg.htm"/>
			<mvc:mapping path="/ctdotgg.htm"/>
			<mvc:mapping path="/danhsachdotgiamgia.htm"/>
			<mvc:mapping path="/taodotgiamgia.htm"/>
			<mvc:mapping path="/thongtincanhannv.htm"/>
			<mvc:mapping path="/doimatkhaunv.htm"/>
			<mvc:mapping path="/homenv.htm"/>
			<mvc:mapping path="/thongtincanhanuser.htm"/>
			<mvc:mapping path="/doimatkhauuser.htm"/>
			<mvc:mapping path="/dangxuat.htm"/>	
			
			<mvc:mapping path="/home/**"/>
			
			<mvc:exclude-mapping path="/home/"/>
			<mvc:exclude-mapping path="/home/index.htm"/>
			<mvc:exclude-mapping path="/home/shop.htm"/>
			<mvc:exclude-mapping path="/home/shop/search.htm"/>
			<mvc:exclude-mapping path="/home/shop/search/**"/>
			<mvc:exclude-mapping path="/home/shop-single.htm"/>
			<mvc:exclude-mapping path="/home/about.htm"/>
			
			<!-- <mvc:exclude-mapping path="staff/home.htm"/> -->
			<bean class = "ptithcm.interceptor.SecurityInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	<context:component-scan
		base-package="ptithcm.controller" />
	<context:component-scan
		base-package="ptithcm.email" />
</beans>